@import "../mixin.scss";
@mixin g-grid {
  display: grid;
}
.g-grid {
  --fix-left-value: 0;
  --fix-center-value: 0;
  --fix-right-value: 0;
  @include g-grid;
}
//容器属性：项目几等分
@for $n from 1 through 24 {
  .g-col#{$n} {
    @include g-grid;
    grid-template-columns: repeat($n,1fr);
  }
}
//容器属性：项目部分固定，剩余自适应
@for $n from 1 through 12 {
  .g-fix#{$n}_left {
    @include g-grid;
    grid-template-columns: $n * 100px auto;
  }
  .g-fix#{$n}_right {
    @include g-grid;
    grid-template-columns: auto $n * 100px;
  }
}
.g-fix_left {
  @include g-grid;
  grid-template-columns: var(--fix-left-value) auto;
}
.g-fix_right {
  @include g-grid;
  grid-template-columns: auto var(--fix-right-value);
}
//容器属性：项目排列顺序，尽可能铺满
.g-dense_row {
  grid-auto-flow: row dense;
}
.g-dense_col {
  grid-auto-flow: column dense;
}
//容器属性：项目水平排列方式
.g-row-items_start {
  @include g-grid;
  justify-items: start;
}
.g-row-items_center {
  @include g-grid;
  justify-items: center;
}
.g-row-items_end {
  @include g-grid;
  justify-items: end;
}
.g-row-content_start {
  @include g-grid;
  justify-content: start;
}
.g-row-content_center {
  @include g-grid;
  justify-content: center;
}
.g-row-content_end {
  @include g-grid;
  justify-content: end;
}
//容器属性：项目垂直排列方式
.g-col-items_start {
  @include g-grid;
  align-items: start;
}
.g-col-items_center {
  @include g-grid;
  align-items: center;
}
.g-col-items_end {
  @include g-grid;
  align-items: end;
}
.g-col-content_start {
  @include g-grid;
  align-content: start;
}
.g-col-content_center {
  @include g-grid;
  align-content: center;
}
.g-col-content_end {
  @include g-grid;
  align-content: end;
}

.g-all_start {
  @include g-grid;
  place-items: start;
}
.g-all_center {
  @include g-grid;
  place-items: center;
}
.g-all_end {
  @include g-grid;
  place-items: end;
}
//项目属性：项目合并空间
@for $n from 1 through 12 {
  .g-col_span#{$n} {
    grid-column-start: span $n;
  }
}
@for $n from 1 through 12 {
  .g-row_span#{$n} {
    grid-row-start: span $n;
  }
}
//项目属性：项目内容排列方式
.g-row-self_start {
  justify-self: start;
}
.g-row-self_center {
  justify-self: center;
}
.g-row-self_end {
  justify-self: end;
}

.g-col-self_start {
  align-self: start;
}
.g-col-self_center {
  align-self: center;
}
.g-col-self_end {
  align-self: end;
}