:root {
  --wg-color-white: #ffffff;
  --wg-color-black: #000000;
  --wg-color-background: #f6f6f6;
  --wg-color-background_white: #FFF;
  --wg-color-badge_danger: #EF4444;
  --wg-color-primary: #409eff;
  --wg-color-primary-light-3: #79bbff;
  --wg-color-primary-light-5: #a0cfff;
  --wg-color-primary-light-7: #c6e2ff;
  --wg-color-primary-light-8: #d9ecff;
  --wg-color-primary-light-9: #ecf5ff;
  --wg-color-success: #67c23a;
  --wg-color-success-light-3: #95d475;
  --wg-color-success-light-5: #b3e19d;
  --wg-color-success-light-7: #d1edc4;
  --wg-color-success-light-8: #e1f3d8;
  --wg-color-success-light-9: #f0f9eb;
  --wg-color-info: #909399;
  --wg-color-info-light-3: #b1b3b8;
  --wg-color-info-light-5: #c8c9cc;
  --wg-color-info-light-7: #dedfe0;
  --wg-color-info-light-8: #e9e9eb;
  --wg-color-info-light-9: #f4f4f5;
  --wg-color-warning: #e6a23c;
  --wg-color-warning-light-3: #eebe77;
  --wg-color-warning-light-5: #f3d19e;
  --wg-color-warning-light-7: #f8e3c5;
  --wg-color-warning-light-8: #faecd8;
  --wg-color-warning-light-9: #fdf6ec;
  --wg-color-danger: #f56c6c;
  --wg-color-danger-light-3: #f89898;
  --wg-color-danger-light-5: #fab6b6;
  --wg-color-danger-light-7: #fcd3d3;
  --wg-color-danger-light-8: #fde2e2;
  --wg-color-danger-light-9: #fef0f0;
  --wg-color-button-border: #dcdfe6;
  --wg-color-button-disabled:  #e4e7ed;
}