//inline align
.f-tl {
  text-align: left;
}
.f-tc {
  text-align: center;
}
.f-tr {
  text-align: right;
}
.f-vt {
  vertical-align: top;
}
.f-vm {
  vertical-align: middle;
}
.f-vb {
  vertical-align: bottom;
}