@import "../mixin.scss";

//display
.hidden {
  display: none;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}

//position
.static {
  position: static;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.sticky {
  position: sticky;
}

//placement
.top-auto {
  top: auto;
}
.top-0 {
  top: 0;
}
.top-50 {
  top: 50%;
}
.top-100 {
  top: 100%;
}
.right-auto {
  right: auto;
}
.right-0 {
  right: 0;
}
.right-50 {
  right: 50%;
}
.right-100 {
  right: 100%;
}
.bottom-auto {
  bottom: auto;
}
.bottom-0 {
  bottom: 0;
}
.bottom-50 {
  bottom: 50%;
}
.bottom-100 {
  bottom: 100%;
}
.left-auto {
  left: auto;
}
.left-0 {
  left: 0;
}
.left-50 {
  left: 50%;
}
.left-100 {
  left: 100%;
}

//margin
@for $n from 1 through 10 {
  .l-m#{$n} {
    margin: toPx(10 * $n);
  }
  .l-mt#{$n} {
    margin-top: toPx(10 * $n);
  }
  .l-mr#{$n} {
    margin-right: toPx(10 * $n);
  }
  .l-mb#{$n} {
    margin-bottom: toPx(10 * $n);
  }
  .l-ml#{$n} {
    margin-left: toPx(10 * $n);
  }
}
//padding
@for $n from 1 through 10 {
  .l-p#{$n} {
    padding: toPx(10 * $n);
  }
  .l-pt#{$n} {
    padding-top: toPx(10 * $n);
  }
  .l-pr#{$n} {
    padding-right: toPx(10 * $n);
  }
  .l-pb#{$n} {
    padding-bottom: toPx(10 * $n);
  }
  .l-pl#{$n} {
    padding-left: toPx(10 * $n);
  }
}