@import "@/assets/variables/layout/_layout_common.scss";
@import "@/assets/variables/font/_font_common.scss";

.menu {
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  left: 0;
  background-color: var(--wg-color-background_white);
}

.menu-sidebar_active {
  height: $topBarHeight;
  width: $menuActiveWidth;
  padding: 0 20px;
  transition: all 1s;
}

.menu-sidebar {
  height: $topBarHeight;
  width: $menuWidth;
  overflow: hidden;
  transition: all 1s;
}

.menu-sidebar-photo {
  width: $menuWidth;
}

.menu-sidebar-pin {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 2px solid #dee2e6;
  cursor: pointer;
}

.menu-sidebar-pin_active {
  display: inline-block;
  border: 2px solid var(--primary-color);
}


.menu-container-list_active {
  margin: 0;
  padding: 0 ;
  width: $menuActiveWidth;
  transition: all 1s;
  overflow: hidden;

  a {
    display: flex;
    align-items: center;
    padding: 6px 20px;
    color: #293241;
    text-decoration: none;
    cursor: pointer;

    span {
      margin: 0 8px 0 14px;
      line-height: 14px;
      white-space: nowrap;
    }
  }

  ul li {
    margin-left: 14px;
  }
}

.menu-container-list {
  margin: 0;
  padding: 0 ;
  width: $menuWidth;
  transition: all 1s;

  .pi {
    font-size: calc($menuWidth / 2);
  }
}