@import "../mixin.scss";
.f-flex {
 display: flex;
}
.f-inline-flex {
  display: inline-flex;
}

//Flex Direction
.f-row {
  flex-direction: row;
}
.f-row_reverse {
  flex-direction: row-reverse;
}
.f-col {
  flex-direction: column;
}
.f-col_reverse {
  flex-direction: column-reverse;
}

//Flex Wrap
.f-wrap {
  flex-wrap: wrap;
}
.f-nowrap {
  flex-wrap: nowrap;
}
.f-wrap_reverse {
  flex-wrap: wrap-reverse;
}

//Flex Gap
@for $i from 1 through 10 {
  .f-gap-#{$i} {
    gap: toPx(10 * $i);
  }
  .f-gap-row-#{$i} {
    row-gap: toPx(10 * $i);
  }
  .f-gap-column-#{$i} {
    column-gap: toPx(10 * $i);
  }
}

//Flex Justify Content
.f-justify_start {
  justify-content: flex-start;
}
.f-justify_center {
  justify-content: center;
}
.f-justify_end {
  justify-content: flex-end;
}
.f-justify_between {
  justify-content: space-between;
}
.f-justify_around {
  justify-content: space-around;
}

//Flex Align Content
.f-content_start {
  align-content: flex-start;
}
.f-content_center {
  align-content: center;
}
.f-content_end {
  align-content: flex-end;
}
.f-content_between {
  align-content: space-between;
}
.f-content_around {
  align-content: space-around;
}

//Flex Align Items
.f-align-items_start {
  align-items: flex-start;
}
.f-align-items_center {
  align-items: center;
}
.f-align-items_end {
  align-items: flex-end;
}
.f-align-items_stretch {
  align-items: stretch;
}
.f-align-items_baseline {
  align-items: baseline;
}


//Flex
@for $i from 1 through 10 {
  .f-#{$i} {
    flex: $i;
  }
}
.f-auto {
  flex: 1 1 auto;
}
.f-none {
  flex: none;
}

//Flex Grow
@for $i from 0 through 10 {
  .f-grow-#{$i} {
    flex-grow: $i;
  }
}

//Flex Shrink
@for $i from 0 through 10 {
  .f-shrink-#{$i} {
    flex-shrink: $i;
  }
}

//Flex Order
@for $i from 0 through 10 {
  .f-order-#{$i} {
    order: $i;
  }
}

//Flex Align Self
.f-self_start {
  align-self: flex-start;
}
.f-self_center {
  align-self: center;
}
.f-self_end {
  align-self: flex-end;
}
.f-self_stretch {
  align-self: stretch;
}
.f-self_baseline {
  align-self: baseline;
}

//Flex Horizontal and vertical Center
.f-all_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}