@import "mixin";
:root {
  --wg-navbar-height : 40px;
  --wg-box-wrapper-pad : 10px;
  --wg-input-margin : 12px;
  --wg-input-width : 200px;
  --wg-form-item-width : 300px;
  --wg-table-max-height: 400px;
}

body {
  color:var(--el-text-color-regular);
  margin: 0;
}

@for $n from 1 through 10 {
  .g-m#{$n} {
    margin: toPx(10 * $n);
  }
  .g-mt#{$n} {
    margin-top: toPx(10 * $n);
  }
  .g-mr#{$n} {
    margin-right: toPx(10 * $n);
  }
  .g-mb#{$n} {
    margin-bottom: toPx(10 * $n);
  }
  .g-ml#{$n} {
    margin-left: toPx(10 * $n);
  }
}

@for $n from 1 through 10 {
  .g-p#{$n} {
    padding: toPx(10 * $n);
  }
  .g-pt#{$n} {
    padding-top: toPx(10 * $n);
  }
  .g-pr#{$n} {
    padding-right: toPx(10 * $n);
  }
  .g-pb#{$n} {
    padding-bottom: toPx(10 * $n);
  }
  .g-pl#{$n} {
    padding-left: toPx(10 * $n);
  }
}

.wg-box-inline {
  display: inline-block;
}

.wg-wid-full{
  width: 100%;
}

.wg-bold{
  font-weight: bold;
}

.wg-title-1{
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.wg-title-2{
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
}

.wg-top-popper {
  width: 200px;
}

.wg-break-line {
  display: flex;
  padding: var(--wg-box-wrapper-pad);
}

.wg-break-line > div {
  margin-right: var(--wg-input-margin);
}

.cursor-pointer:hover {
  cursor: pointer;
}