@import "./mixin.scss";
@import "flex/flex.scss";
@import "grid/grid.scss";
@import "variables/layout_common.scss";
@import "variables/border.scss";
@import "layout/layout.scss";
@import "layout/dashboard.scss";
@import "font/font-layout.scss";
@import "color/color.scss";
@import "button/button.scss";

body {
  color:var(--el-text-color-regular);
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

//user-select
.user-select_no {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.user-select_all {
  -moz-user-select: all;
  -webkit-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

.wg-wid-full{
  width: 100%;
}

.wg-bold{
  font-weight: bold;
}

.wg-title-1{
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.wg-title-2{
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
}

.wg-top-popper {
  width: 200px;
}

.cursor-pointer:hover {
  cursor: pointer;
  color: rgba(0, 138, 255, 0.9);
}