.b-button {
  display: inline-flex;
  align-items: center;
  padding: 8px 15px;
  position: relative;
  border: 1px solid var(--wg-color-button-border);
  border-radius: var(--wg-border-radius-base);
  overflow: hidden;
  font-size: 0.875rem;
  cursor: pointer;
  background: #ffffff;
  transition: all 0.2s ease-in-out;
  &:before {
    content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  &:hover:not(.b-click_disabled) {
    &:before {
      transform: skewX(-45deg) translateX(13.5em);
      transition: all 0.6s ease-in-out;
    }
  }
}
.b-button:hover:not(.b-click_disabled, .b-text, .b-type_primary, .b-type_success, .b-type_info, .b-type_warning, .b-type_danger) {
  color: var(--wg-color-primary);
  border-color: var(--wg-color-primary-light-7);
  background-color: var(--wg-color-primary-light-9);
  outline: 0;
}
.b-button:focus:not(.b-click_disabled, .b-text) {
  box-shadow: 0 0 0 2px var(--wg-color-white), 0 0 0 var(--wg-button-margin) var(--wg-color-primary-light-3);
}
.b-button + .b-button {
  margin-left: var(--wg-button-margin);
}

//text
.b-text {
  border-color: transparent;
  background: 0 0;
  color: var(--wg-color-primary);
  padding-left: 0;
  padding-right: 0;
}
.b-text:hover {
  color: var(--wg-color-primary-light-3);
  border-color: transparent;
  background-color: transparent;
}
//disabled
.b-click_disabled {
  cursor: not-allowed;
}
//size
.b-size_lg {
  padding: 12px 19px;
}
.b-size_sm {
  padding: 5px 11px;
}
//type
.b-type_primary {
  background: var(--wg-color-primary);
  color: var(--wg-color-white);
}
.b-type_primary:hover:not(.b-click_disabled, .b-text) {
  border-color: var(--wg-color-primary-light-5);
  background-color: var(--wg-color-primary-light-3);
  outline: 0;
}
.b-type_primary:focus:not(.b-click_disabled, .b-text) {
  box-shadow: 0 0 0 2px var(--wg-color-white), 0 0 0 var(--wg-button-margin) var(--wg-color-primary);
}
.b-type_success {
  background: var(--wg-color-success);
  color: var(--wg-color-white);
}
.b-type_success:hover:not(.b-click_disabled, .b-text) {
  border-color: var(--wg-color-success-light-5);
  background-color: var(--wg-color-success-light-3);
  outline: 0;
}
.b-type_success:focus:not(.b-click_disabled, .b-text) {
  box-shadow: 0 0 0 2px var(--wg-color-white), 0 0 0 var(--wg-button-margin) var(--wg-color-success);
}
.b-type_info {
  background: var(--wg-color-info);
  color: var(--wg-color-white);
}
.b-type_info:hover:not(.b-click_disabled, .b-text) {
  border-color: var(--wg-color-info-light-5);
  background-color: var(--wg-color-info-light-3);
  outline: 0;
}
.b-type_info:focus:not(.b-click_disabled, .b-text) {
  box-shadow: 0 0 0 2px var(--wg-color-white), 0 0 0 var(--wg-button-margin) var(--wg-color-info);
}
.b-type_warning {
  background: var(--wg-color-warning);
  color: var(--wg-color-white);
}
.b-type_warning:hover:not(.b-click_disabled, .b-text) {
  border-color: var(--wg-color-warning-light-5);
  background-color: var(--wg-color-warning-light-3);
  outline: 0;
}
.b-type_warning:focus:not(.b-click_disabled, .b-text) {
  box-shadow: 0 0 0 2px var(--wg-color-white), 0 0 0 var(--wg-button-margin) var(--wg-color-warning);
}
.b-type_danger {
  background: var(--wg-color-danger);
  color: var(--wg-color-white);
}
.b-type_danger:hover:not(.b-click_disabled, .b-text) {
  border-color: var(--wg-color-danger-light-5);
  background-color: var(--wg-color-danger-light-3);
  outline: 0;
}
.b-type_danger:focus:not(.b-click_disabled, .b-text) {
  box-shadow: 0 0 0 2px var(--wg-color-white), 0 0 0 var(--wg-button-margin) var(--wg-color-danger);
}
//round
.b-round {
  border-radius: var(--wg-border-radius-round);
}
//circle
.b-circle {
  width: 32px;
  height: 32px;
  border-radius: var(--wg-border-radius-circle);
  padding: 8px;
}
//badge
.b-badge {
  min-width: .85rem;
  margin-left: .5rem;
  padding: 2px;
  border-radius: var(--wg-border-radius-circle);
  font-size: .75rem;
  font-weight: 700;
}
.b-badge_primary {
  color: var(--wg-color-primary);
  background-color: var(--wg-color-white);
}
.b-badge_info {
  color: var(--wg-color-info);
  background-color: var(--wg-color-white);
}
.b-badge_success {
  color: var(--wg-color-success);
  background-color: var(--wg-color-white);
}
.b-badge_warning {
  color: var(--wg-color-warning);
  background-color: var(--wg-color-white);
}
.b-badge_danger {
  color: var(--wg-color-danger);
  background-color: var(--wg-color-white);
}
.b-badge_alert {
  color: var(--wg-color-white);
  background-color: var(--wg-color-badge_danger);
}